In [1]:
import sqlite3
import pandas as pd

# Create a connection
conn = sqlite3.connect('orchestra.db')

# Create a cursor
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE Composers (
    composer_id INTEGER PRIMARY KEY,
    name TEXT
);
'''
)

# Insert values
with open('concerts.csv', 'r') as f:
    df = pd.read_csv(f)
    df.to_sql('Concerts', conn, if_exists='append', index=False)

conn.commit()

In [2]:
# Create a database connection
conn = sqlite3.connect('orchestra.db')
cursor = conn.cursor()

# Get orders in dataframe
cursor.execute("SELECT * FROM Concerts;")
orders = cursor.fetchall()
concerts_df = pd.DataFrame(orders, columns=[column[0] for column in cursor.description])

In [3]:
concerts_df.head()

,Date,Venue,Location,Time,event_type,orchestra_id
0,1842-12-07T05:00:00Z,Apollo Rooms,"Manhattan, NY",8:00PM,None,1
1,1843-02-18T05:00:00Z,Apollo Rooms,"Manhattan, NY",8:00PM,None,2
2,1843-04-07T05:00:00Z,Apollo Rooms,"Manhattan, NY",8:00PM,None,3
3,1843-04-22T05:00:00Z,Apollo Rooms,"Manhattan, NY",8:00PM,None,4
4,1843-11-18T05:00:00Z,Apollo Rooms,"Manhattan, NY",None,None,5

In [4]:
conn.close()